.flex{
    display: flex;
}
body{
    margin: 0px;
}

.imagem-principal{
    Width: 800px;
    Height: 831px;
}

.logo-login{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #040C17;
    width: 100%;
}

.logo-login img{
    width: 239px;
    height: 210px;
}

.login{
    background-color: #fff;
    Width:408px;
    Height: 415px;
}

.login h1{
    display: flex;
    justify-content: center;
}

.caixa-texto{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.caixa-texto input{
    border: solid 1px;
    Width: 318px;
    Height: 46px;
}

.caixa-texto p{
    margin-right: 285px;
}

.nav{
    
}




