body{
    margin: 0px;
    background-color: #040C17;
}

header{
    width: 1900px;
    height: 226px;
    background-color: #042045;
    display:flex;
    flex-direction: row;
}

footer{
    display:flex;
    flex-direction: row;
    color:#fff;
    justify-content: center;
    gap:100px
}

header img{
    width: 224px;
    height: 224px;
}

.principal-header nav{
    margin-top: 30px;
}

.titulo-link a{
    text-decoration: none;
    color: #fff;
}

.titulo-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 300px;
    color: #fff;
}

.principal-header input{
    width: 860px;
    height: 40px;
    border: solid 1px;
    border-radius:25px;
}

nav a{
    text-decoration: none;
    color:#fff;
    margin-right: 20px;
}

.saiba-mais{
    width: 255px;
    height: 73px;
    background-color: #427ED7;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}

.imagens{
    border-radius: 100px;
    display: flex;
    gap:37px;
}

h2{
    color: #fff;
    margin-bottom: 50px;
}

.lojas{
    margin:100px;
}

.links{
    display:flex;
    flex-direction: column;
    gap:20px;
}

.links a{
    text-decoration: none;
    color: #fff;
}

.botao-azul{
    display: flex;
    background-color: #427ED7;
    width:85px;
    height:57px;
    align-items: center;
    justify-content: center;
}

.email{
    display: flex;
    flex-direction: row;
}

.email input{
    width: 400px;
    height: 52px;
}

.redes-sociais{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: green;
}

.redes-sociais img{
    width:100px;
    height: 100px;
}

.input-redes{
    display: flex;
    flex-direction: column;
    gap:20px
}

.banner{
    width: 1900px;
    height: 600px;
    margin-top: 50px;
}